<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
    {% if page.custom_css %}<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ page.custom_css }}">{% endif %}
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.png">
    {% if page.no_title %}<title>{{ site.title }}</title>{% else %}<title>{{ site.title }} | {{ page.title }}</title>{% endif %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161404212-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-161404212-1');
    </script>
    {% seo %}
  </head>
  {% if page.background_image %}
  <body style="background: url({{ site.baseurl }}/assets/images/{{ page.background_image }}) no-repeat center center fixed; color: {{ page.text_color | default: 'black' }};">
  {% else %}
  <body style="color: {{ page.text_color | default: 'black' }};">
  {% endif %}
  {% include navbar.html %}